<template>
  <h1>Login page</h1>
  <form autocomplete="off" @submit.prevent="handleSubmit">
    <input
      type="email"
      name="email"
      required
      id="email"
      placeholder="Ingrese su correo electronico"
      v-model="email"
    />
    <input
      type="password"
      name="password"
      required
      id="password"
      placeholder="Ingrese su contraseña"
      v-model="password"
    />
    <button type="submit" :disabled="isAuthenticating">Iniciar sesión</button>
  </form>
</template>

<script setup>
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useUserStore } from '@/stores/user';

const userStore = useUserStore();
const { loginUser } = userStore;
const { isAuthenticating } = storeToRefs(userStore);

const email = ref('ddominguez@vue.com');
const password = ref('qwerty');

const handleSubmit = async () => {
  await loginUser(email.value, password.value);
};
</script>
