<template>
  <div class="notfound__container">
    <h1>Página no encontrada</h1>
    <h2>404</h2>
    <router-link class="link" to="/">Volver al inicio</router-link>
  </div>
</template>
<script setup>
import { RouterLink } from 'vue-router';
</script>
<style scoped>
.notfound__container {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notfound__container h1 {
  font-size: 80px;
  margin: 0;
}

.notfound__container h2 {
  font-size: 60px;
  margin: 0;
}

.notfound__container .link {
  margin: 0;
  background-color: #827ffe;
  padding: 15px;
  color: #fff;
  margin-top: 2rem;
  font-size: 2rem;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-radius: 10px;
  text-decoration: none;
}
</style>
