<template>
  <h1>Register page</h1>
  <form autocomplete="off" @submit.prevent="handleSubmit">
    <input
      type="text"
      name="fullName"
      required
      id="fullName"
      placeholder="Ingrese su nombre completo"
      v-model="nombre"
    />
    <input
      type="email"
      name="email"
      required
      id="email"
      placeholder="Ingrese su correo electronico"
      v-model="email"
    />
    <input
      type="password"
      name="password"
      required
      id="password"
      placeholder="Ingrese su contraseña"
      v-model="password"
    />
    <button type="submit" :disabled="isAuthenticating">registrarme</button>
  </form>
</template>

<script setup>
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useUserStore } from '@/stores/user';

const userStore = useUserStore();
const { registerUser } = userStore;
const { isAuthenticating } = storeToRefs(userStore);

const nombre = ref('Diego Dom');
const email = ref('ddominguez@vue.com');
const password = ref('qwerty');

const handleSubmit = async () => {
  await registerUser(nombre.value, email.value, password.value);
};
</script>
