<template>
  <div className="loader__box">
    <div className="loader"></div>
  </div>
</template>
<style lang="css" scoped>
.loader__box {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loader {
  height: 80px;
  width: 80px;
  border-top: 4px solid #827ffe;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
