<template>
  <loader-spinner v-if="isAuthenticating" />
  <template v-else>
    <nav>
      <template v-if="status === 'authenticated'">
        <router-link to="/">Home</router-link> |
        <button @click="logout">Cerrar sesión</button>
      </template>
      <template v-else-if="status === 'not-authenticated'">
        <router-link to="/login">Login</router-link> |
        <router-link to="/register">Register</router-link> |
      </template>
    </nav>
    <RouterView />
  </template>
</template>

<script setup>
import { RouterLink, RouterView } from 'vue-router';
import { storeToRefs } from 'pinia';

import { useUserStore } from '@/stores/user';
import LoaderSpinner from '@/components/LoaderSpinner.vue';

const userStore = useUserStore();
const { logout } = userStore;
const { isAuthenticating, status } = storeToRefs(userStore);
</script>
